<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Accounts table</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Role Name
                                </th>

                                <th>
                                    Created Date
                                </th>
                                <th>
                                    Updated Date
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="role : ${listRoles}">
                                <td th:utext="${role.role_id}"></td>
                                <td th:utext="${role.roleName}"></td>
                                <td th:utext="${role.createAt}"></td>
                                <td th:utext="${role.updatedAt}"></td>
                                <!--                <td th:utext="${post.isArchieved}"></td>-->
                                <td>
                                    <a class="menu-icon mdi mdi-delete-forever icon-lg"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
</body>
</html>
